.option-change-container {
    // width: calc(100% - 8px);
    padding-top: 12px;
}

.option-change-box {
    padding-bottom: 6px;

    .option-delete-box {
        margin-top: 3px;
        background: #ffe9e9;
        color: #f22;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
        transition: all 0.3s;

        &:hover {
            background: #f22;
            color: #fff;
        }
    }
}

.site-input-group-wrapper .site-input-split {
    background-color: #fff;
}

.site-input-group-wrapper .site-input-right {
    border-left-width: 0;
}

.site-input-group-wrapper .site-input-right:hover,
.site-input-group-wrapper .site-input-right:focus {
    border-left-width: 1px;
}

.site-input-group-wrapper .ant-input-rtl.site-input-right {
    border-right-width: 0;
}

.site-input-group-wrapper .ant-input-rtl.site-input-right:hover,
.site-input-group-wrapper .ant-input-rtl.site-input-right:focus {
    border-right-width: 1px;
}